/* Apply Poppins Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px;
}

.nav-links a:hover {
    color: #2c9f45;
}

.join-us {
    background-color: #96BB7C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.join-us:hover {
    background-color: #27973e;
}

/* Domain Section Styling */
.domain-section {
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}

.domain-content {
    max-width: 900px;
    margin: 0 auto;
}

.domain-content h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.domain-content p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.domain-category {
    margin-bottom: 40px;
}

.domain-category h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.domain-category p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}

/* Objective Box Styling */
.objective-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.objective-box p {
    font-size: 1rem;
    color: #333;
}

/* Technologies grid styling */
.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tech-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.tech-item p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}


/* Responsive design */
@media (max-width: 768px) {
    .domain-section {
        padding: 30px;
    }

    .domain-content h2 {
        font-size: 2rem;
    }

    .domain-category h3 {
        font-size: 1.5rem;
    }

    .objective-box {
        padding: 15px;
    }

    .objective-box p {
        font-size: 1rem;
    }
}
